@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
section {
    margin-bottom: 50px !important;
}
@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}
#first {
    padding-bottom: 50px;
    @include mobile {
        padding: 0;
        margin: 0;
    }
    .navbar {
        padding: 30px 0;
        .container {
            position: relative;
            @include mobile {
                padding: 0;
                display: block;
            }
        }
        .logo {
            @include mobile {
                width: 50%;
                margin: 0 20px;
            }
        }
        .burger.burgerCol {
            color: white;
        }
        .burger {
            @include mobile {
                z-index: 9999;
            }
        }
        span {
            display: none;
            @include mobile {
                display: block;
                width: 50%;
                z-index: 9999;
                text-align: end;
                padding: 20px 0;
            }
            i {
                margin-right: 35px;
                font-size: 32px;
            }
            .mobileNav {
                width: 100%;
                @include mobile {
                    position: absolute;
                    top: 100%;
                    left: 0;
                }
            }
        }
        .menu {
            @include mobile {
                width: 100%;
                margin: 0;  
                background-color: black;
                position: absolute;
                top: -180%;
            }
        }
        .menu.menuBlock {
            @include mobile {
                display: block;
                top: 0%;
                left: 0;
                padding: 40px 0;
                height: 100vh;
                z-index: 99;
            }
            animation: navtog .5s;
        }
        ul {
            display: flex;
            @include mobile {
                display: block;
                text-align: start;
                width: 100%;
                padding: 0;
            }
            .dropdown-item{
                background-color: white;
                transition-duration: .3s;
                color: black !important;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
            .dropdown-menu.dropdownBl {
                display: block;
                top: 140%;
                left: 0;
            }
            li {
                list-style: none;
                margin: 0 10px;
                @include mobile {
                    margin: 10px 0;
                    color: white;
                }
                a {
                    text-decoration: none;
                    margin: 0 5px;
                    color: black;
                    @include mobile {
                        color: white;
                    }
                }

            }
        }
        .buttons {
            margin-left: 150px;
            i {
                cursor: pointer;
                margin: 0 10px;
                font-size: 32px;
            }
            p {
                font-size: 22px;
            }
            @include mobile {
                margin-top: 50px;
                justify-content: space-around;
            }
        }   
        @include mobile {
            width: 100%;
            padding-bottom: 0;
        }
    }
    .mobileBlock {
        @include mobile {
            display: none;
        }
    }
    .buttonHead {
        width: 20%;
        .btn {
            background-color: black;
            color: white;
            border-radius: 2px;
            padding: 5px 30px;
            font-size: 20px;
            @include mobile {
                width: 100px;
                padding: 0;
            }
            i {
                margin-right: 10px;
            }
        }
    }
    .searchHead {
        width: 80%;
        @include mobile {
            width: 150px;
            margin-left: 70px;

        }
        .input-group {
            height: 100%;
            @include mobile {
                width: 200px;
            }
            button {
                height: 100%;
            }
        }
    }
}
#second {
    position: relative;
    .container-fluid {
        display: flex;
        align-items: center;
    }
    .btnArrow {
        text-align: end;
        i {
            border: 2px solid rgb(0, 0, 0);
            font-size: 45px;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;
            color: rgb(0, 0, 0);
            border-radius: 50%;
            cursor: pointer;
            @include mobile {
                width: 40px;
                height: 40px;
                font-size: 22px;
            }
        }
        i:first-child {
            position: absolute;
            top: 50%;
            left: 92%;
            transform: translateY(-50%);
            @include mobile {
                left: 80%;
            }
        }
        i:last-child {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);  
            @include mobile {
                left: 0;
            }
        }
    }
    .container {
        position: relative;
    }
    .box.show {
        display: block;
        animation: boxAnim 1s;
    }
    
    .box {
        overflow: hidden;
        width: 100%;
        display: none;
        position: absolute;
        background-color: #F9F9F9;
        padding: 50px;
        top: 0;
        left: 0;
        @include mobile {
            width: 100%;
            margin: 0;
            padding: 15px;
        }
        h1 {
            margin: 30px 0;
            @include mobile {
                margin: 0;
            }
        }
    }
    .secondImages {
    text-align: center;
    }
    .secondBoxes {
        width: 50%;
        img {
            width: 50%;
        }
        a {
            text-decoration: none;
            color: black;
            position: relative;
            &:hover .under {
                left: 0;
            }
        }
        .under {
            position: absolute;
            top: 0;
            left: -200%;
            transition-duration: .2s;
            background-color: black;    
            width: 100px;
            height: 2px;
        }
    }
}
@keyframes navtog {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
    }
}
@keyframes boxAnim {
    from {
        opacity: 0;
        // transform: translateX(-50%);
    }
    to {
        opacity: 1;
    }
}